body {
  background: #000;
}

#card {
  background-color: white;
  width: 33%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 33%;
  margin-left: 33%;
  margin-top: 15%;
  border-radius: 5px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: Oswald;
  text-align: right;
}

#quote {
  text-align: left;
}

#credit {
  font-family: Lato;
}

#tweets {
  float: left;
}

button {
  background: grey;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
